In [8]:
import pandas as pd
import random

In [9]:
df1=pd.read_json('vebnor.json')
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 355 entries, 0 to 354
Data columns (total 66 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Unnamed: 0                           355 non-null    int64
 1   Title                                355 non-null    object
 2   Price                                355 non-null    object
 3   Rating                               337 non-null    float64
 4   Reviews                              337 non-null    object
 5   Url                                  355 non-null    object
 6   Seller                               352 non-null    object
 7   Pack of                              262 non-null    object
 8   Style Code                           330 non-null    object
 9   Closure                              197 non-null    object
 10  Fit                                  260 non-null    object
 11  Fabric                               352 non-null    object
 12  Sleeve                               259 non-null    object
 13  Pattern                              351 non-null    object
 14  Reversible                           249 non-null    object
 15  Collar                               155 non-null    object
 16  Color                                260 non-null    object
 17  Fabric Care                          296 non-null    object
 18  Suitable For                         257 non-null    object
 19  Hem                                  152 non-null    object
 20  Other Details                        191 non-null    object
 21  Net Quantity                         349 non-null    float64
 22  Type                                 129 non-null    object
 23  Sales Package                        127 non-null    object
 24  Neck Type                            91 non-null     object
 25  Ideal For                            114 non-null    object
 26  Size                                 92 non-null     object
 27  Occasion                             19 non-null     object
 28  Alteration Required                  10 non-null     object
 29  Belt Loops                           10 non-null     object
 30  Rise                                 10 non-null     object
 31  Pleats                               10 non-null     object
 32  Fly                                  12 non-null     object
 33  Fabric Details                       10 non-null     object
 34  Length Type                          8 non-null      object
 35  Brand Color                          8 non-null      object
 36  Neck                                 10 non-null     object
 37  Number of Contents in Sales Package  23 non-null     object
 38  Package contains                     8 non-null      object
 39  Other Dimensions                     12 non-null     object
 40  Pockets                              37 non-null     object
 41  Secondary Color                      19 non-null     object
 42  Style code                           5 non-null      object
 43  Ideal for                            5 non-null      object
 44  Sales package                        2 non-null      object
 45  Suitable for                         4 non-null      object
 46  Hooded                               2 non-null      object
 47  Fabric care                          5 non-null      object
 48  Warranty Summary                     0 non-null      float64
 49  Warranty Service Type                0 non-null      float64
 50  Covered in Warranty                  1 non-null      object
 51  Not Covered in Warranty              1 non-null      object
 52  Domestic Warranty                    8 non-null      object
 53  Series                               8 non-null      object
 54  Unnamed: 54                          11 non-null     object
 55  International Warranty               1 non-null      float64
 56  Character                            0 non-null      float64
 57  Brand                                1 non-null      object
 58  Brand color                          1 non-null      object
 59  Label size                           1 non-null      float64
 60  Primary product type                 1 non-null      object
 61  Secondary product type               1 non-null      object
 62  Primary Color                        1 non-null      object
 63  Suitabl for                          1 non-null      object
 64  Fabric details                       1 non-null      object
 65  total                                355 non-null    object
dtypes: float64(7), int64(1), object(58)
memory usage: 185.8+ KB

In [10]:
df1.Seller.value_counts()

Seller
VeBNoR         261
AVOLT           20
Duooble         13
krijo            9
StyleMODO        8
U TURN           8
Mistigriz        5
unbeatable       5
YFB              3
TRIPR            3
WMX              2
Om Creation      2
FTX              2
LAHEJA           2
Reya             2
Anand            2
Ziyan tex        2
SmartRAHO        1
jai bharat       1
BLUE MARTIN      1
Name: count, dtype: int64

In [11]:
df1['Ideal for']=df1['Ideal For']
df=df1[['Title','Price','Rating','Reviews','Color','Seller','Type','Fabric','Ideal for','Pattern','total','Url']]
df=df[df.Title.notnull()]
df=df[df.Price.notnull()]
df=df[df.Seller=='VeBNoR']

In [20]:
df.isnull().sum()

Title           0
Price           0
Rating          0
Reviews         0
Color           0
Seller          0
Type            0
Fabric          0
Ideal for       0
Pattern         0
Url             0
code            0
nlp             0
1 star          0
2 stars         0
3 stars         0
4 stars         0
5 stars         0
Rating count    0
Review count    0
dtype: int64

In [13]:
patterns=list(set(df['Pattern']))
if None in patterns:
    patterns.remove(None)
#unique_patterns = set(patterns)  # Create set outside the function for efficiency
def pattern_fill(row):
    if row['Pattern'] is None:
        for pattern in patterns:
            if pattern in row['Title']:
                return type
        # Handle cases where no match is found (return default, raise error, etc.)
    else:
        return row['Pattern']


colours=list(set(df['Color']))
if None in colours:
    colours.remove(None)

def colour_fill(row):
    if row['Color'] is None:
        for color in colours:
            if color.lower( ) in row['Title'].lower():   # Make case-insensitive
                return color
    else:
        return  row['Color']

persons=['Men','Women','Kid','Girl','Boy']
def idealfor(row):
    z=row['Title']
    for x in persons:
        if x in z:   # Make case-insensitive
            return x 
        elif 'Suit':
            return 'Men'
        elif 'Lehenga' in z:
            return 'Women'
        


def rat_cnt(row):
    if row==0:
        return 0
    x=row.replace(',','')
    x=x.split(" ")
    return x[0]


def rev_cnt(row):
    if row==0:
        return 0
    x=row.replace(',','')
    x=x.split(" ")
    return x[0]

In [14]:
df['Pattern'] = df.apply(pattern_fill, axis=1)
df['Color'] = df.apply(colour_fill, axis=1)
df['Ideal for']=df.apply(idealfor,axis=1)
#df['Ideal for'].fillna('Women',inplace=True)
df["Pattern"].fillna(random.choice(patterns), inplace=True)
df["Color"].fillna(random.choice(colours), inplace=True)
fabrics=list(set(df['Fabric']))
#if None in fabrics:
#    fabrics.remove('None')
df["Fabric"].fillna(random.choice(fabrics), inplace=True)
#df.Title=df.Title.str.replace(r'\(....??\)','')

df.Rating=df.Rating.fillna(-1)
df['Price']=df['Price'].apply(lambda x: x[1:]).str.replace(',','').astype(int)

df["code"]=df.total.apply(lambda x : x[1])
df["nlp"]=df.total.apply(lambda x : x[2])
df["Stars"]=df.total.apply(lambda x : x[3])

df["1 star"]=df.Stars.apply(lambda x : str(x[0]).replace(',','')).astype(int)
df["2 stars"]=df.Stars.apply(lambda x : str(x[1]).replace(',','')).astype(int)
df["3 stars"]=df.Stars.apply(lambda x: str(x[2]).replace(',','')).astype(int)
df["4 stars"]=df.Stars.apply(lambda x: str(x[3]).replace(',','')).astype(int)
df["5 stars"]=df.Stars.apply(lambda x: str(x[4]).replace(',','')).astype(int)


df.Reviews.fillna(0, inplace=True)
df['Rating count']=df['Reviews'].apply(rat_cnt)
df['Review count']=df['Reviews'].apply(rev_cnt)
#df[df['Reviews']!=0]['Rating count']=df[df['Reviews']!=0]['Reviews'].apply(lambda x: x.replace(',','').split(' ')[0])
#df[df['Reviews']!=0]['Review count']=df[df['Reviews']!=0]['Reviews'].apply(lambda x: x.replace(',','').split(' ')[3])

df.drop("Stars",axis=1,inplace=True)
df.drop("total",axis=1,inplace=True)

In [15]:
df.isnull().sum()

Title             0
Price             0
Rating            0
Reviews           0
Color             0
Seller            0
Type            154
Fabric            0
Ideal for         0
Pattern           0
Url               0
code              0
nlp               0
1 star            0
2 stars           0
3 stars           0
4 stars           0
5 stars           0
Rating count      0
Review count      0
dtype: int64

types=list(set(df['Type']))
types.remove(None)
#print(types)
def type_fill(row):
    y=row.Title
    y=y.split(' ')
    if y[-1]=='Women':
        return None
    return y[-1]


def type1_fill(row):
    if row['Type'] is None:
        for type in types:
            print(type)
            if type in row['Title']:   # Make case-insensitive
                return type
    else:
        return  row['Type']

df['Type']=df.apply(type1_fill,axis=1)
df.Type.fillna('Coat',inplace=True)

In [16]:
types=list(set(df['Type']))
if None in types:
    types.remove(None)
#print(types)
def type_fill(row):
    z=row.Title
    y=z.split(' ')
    if 'Kurta' in z:
        return 'Kurta'
    elif 'Blazer' in z:
        return 'Blazer'
    elif 'Top' in z:
        return 'Top'
    elif 'Jacket' in z:
        return 'Jacket'
    elif 'Lehenga' in z:
        return 'Lehenga'
    elif 'Night' in z:
        return 'Night Suit'
    elif 'Men' in y[-1]:
        return 'Shoes'
    elif 'Saree' in z:
        return 'Saree'

    elif 'Women' in y[-1]:
        return 'Boots'
    elif 'Shoes' in z:
        return 'Shoes'
    elif 'Suit' in z:
        return 'Suit'
    return y[-1]


def type1_fill(row):
    if row['Type'] is None:
        for type in types:
            #print(type)
            if type in row['Title']:   # Make case-insensitive
                return type
    else:
        return  row['Type']
df.Type=df.apply(type_fill,axis=1)

In [17]:
df.to_json('data/vebnor.json')

In [18]:
df.Type.value_counts()
#df[df.Type=='Dress']

Type
Shirt       130
T-Shirt      87
Pants        20
Trousers     10
Kurta         8
2)            4
Jacket        2
Name: count, dtype: int64

In [19]:
df.isnull().sum()

Title           0
Price           0
Rating          0
Reviews         0
Color           0
Seller          0
Type            0
Fabric          0
Ideal for       0
Pattern         0
Url             0
code            0
nlp             0
1 star          0
2 stars         0
3 stars         0
4 stars         0
5 stars         0
Rating count    0
Review count    0
dtype: int64