In [8]:
import pandas as pd
import random

In [9]:
df1=pd.read_json('liuis.json')
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 477 entries, 0 to 476
Data columns (total 44 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       477 non-null    int64
 1   Title            477 non-null    object
 2   Price            477 non-null    object
 3   Rating           383 non-null    float64
 4   Reviews          387 non-null    object
 5   Url              477 non-null    object
 6   Seller           477 non-null    object
 7   Pack of          445 non-null    float64
 8   Style Code       326 non-null    object
 9   Closure          152 non-null    object
 10  Fit              441 non-null    object
 11  Fabric           477 non-null    object
 12  Sleeve           319 non-null    object
 13  Pattern          477 non-null    object
 14  Reversible       288 non-null    object
 15  Collar           82 non-null     object
 16  Color            371 non-null    object
 17  Fabric Care      401 non-null    object
 18  Suitable For     462 non-null    object
 19  Hem              85 non-null     object
 20  Pockets          60 non-null     object
 21  Net Quantity     477 non-null    int64
 22  Occasion         156 non-null    object
 23  Type             268 non-null    object
 24  Belt Loops       67 non-null     object
 25  Rise             89 non-null     object
 26  Pleats           50 non-null     object
 27  Fly              68 non-null     object
 28  Sales Package    85 non-null     object
 29  Neck Type        106 non-null    object
 30  Ideal For        107 non-null    object
 31  Size             106 non-null    object
 32  Brand Fit        65 non-null     object
 33  Sleeve Type      64 non-null     object
 34  Neck             22 non-null     object
 35  Hooded           21 non-null     object
 36  Fabric Details   1 non-null      object
 37  Other Details    1 non-null      object
 38  Secondary Color  4 non-null      object
 39  Style code       4 non-null      object
 40  Ideal for        4 non-null      object
 41  Suitable for     4 non-null      object
 42  Fabric care      4 non-null      object
 43  total            477 non-null    object
dtypes: float64(2), int64(2), object(40)
memory usage: 167.7+ KB

In [10]:
df1.Seller.value_counts()

Seller
Louis Philippe Sport    450
addiz                    17
LOUIS PHILIPPE            9
BRIDON                    1
Name: count, dtype: int64

In [11]:
df=df1[['Title','Price','Rating','Reviews','Color','Seller','Type','Fabric','Ideal for','Pattern','total','Url']]
df=df[df.Title.notnull()]
df=df[df.Seller=='Louis Philippe Sport']

In [12]:
df.isnull().sum()

Title          0
Price          0
Rating        84
Reviews       82
Color         80
Seller         0
Type         209
Fabric         0
Ideal for    446
Pattern        0
total          0
Url            0
dtype: int64

In [13]:
patterns=list(set(df['Pattern']))
if None in patterns:
    patterns.remove(None)
#unique_patterns = set(patterns)  # Create set outside the function for efficiency
def pattern_fill(row):
    if row['Pattern'] is None:
        for pattern in patterns:
            if pattern in row['Title']:
                return type
        # Handle cases where no match is found (return default, raise error, etc.)
    else:
        return row['Pattern']


colours=list(set(df['Color']))
if None in colours:
    colours.remove(None)

def colour_fill(row):
    if row['Color'] is None:
        for color in colours:
            if color.lower( ) in row['Title'].lower():   # Make case-insensitive
                return color
    else:
        return  row['Color']

persons=['Men','Women','Kid','Girl','Boy']
def idealfor(row):
    z=row['Title']
    for x in persons:
        if x in z:   # Make case-insensitive
            return x 
        elif 'Suit':
            return 'Men'
        elif 'Lehenga' in z:
            return 'Women'
        


def rat_cnt(row):
    if row==0:
        return 0
    x=row.replace(',','')
    x=x.split(" ")
    return x[0]


def rev_cnt(row):
    if row==0:
        return 0
    x=row.replace(',','')
    x=x.split(" ")
    return x[0]

In [14]:
df['Pattern'] = df.apply(pattern_fill, axis=1)
df['Color'] = df.apply(colour_fill, axis=1)
df['Ideal for']=df.apply(idealfor,axis=1)
#df['Ideal for'].fillna('Women',inplace=True)
df["Pattern"].fillna(random.choice(patterns), inplace=True)
df["Color"].fillna(random.choice(colours), inplace=True)
fabrics=list(set(df['Fabric']))
#if None in fabrics:
#    fabrics.remove('None')
df["Fabric"].fillna(random.choice(fabrics), inplace=True)
#df.Title=df.Title.str.replace(r'\(....??\)','')

df.Rating=df.Rating.fillna(-1)
df['Price']=df['Price'].apply(lambda x: x[1:]).str.replace(',','').astype(int)

df["code"]=df.total.apply(lambda x : x[1])
df["nlp"]=df.total.apply(lambda x : x[2])
df["Stars"]=df.total.apply(lambda x : x[3])

df["1 star"]=df.Stars.apply(lambda x : str(x[0]).replace(',','')).astype(int)
df["2 stars"]=df.Stars.apply(lambda x : str(x[1]).replace(',','')).astype(int)
df["3 stars"]=df.Stars.apply(lambda x: str(x[2]).replace(',','')).astype(int)
df["4 stars"]=df.Stars.apply(lambda x: str(x[3]).replace(',','')).astype(int)
df["5 stars"]=df.Stars.apply(lambda x: str(x[4]).replace(',','')).astype(int)


df.Reviews.fillna(0, inplace=True)
df['Rating count']=df['Reviews'].apply(rat_cnt)
df['Review count']=df['Reviews'].apply(rev_cnt)
#df[df['Reviews']!=0]['Rating count']=df[df['Reviews']!=0]['Reviews'].apply(lambda x: x.replace(',','').split(' ')[0])
#df[df['Reviews']!=0]['Review count']=df[df['Reviews']!=0]['Reviews'].apply(lambda x: x.replace(',','').split(' ')[3])

df.drop("Stars",axis=1,inplace=True)
df.drop("total",axis=1,inplace=True)

In [15]:
df.isnull().sum()

Title             0
Price             0
Rating            0
Reviews           0
Color             0
Seller            0
Type            209
Fabric            0
Ideal for         0
Pattern           0
Url               0
code              0
nlp               0
1 star            0
2 stars           0
3 stars           0
4 stars           0
5 stars           0
Rating count      0
Review count      0
dtype: int64

types=list(set(df['Type']))
types.remove(None)
#print(types)
def type_fill(row):
    y=row.Title
    y=y.split(' ')
    if y[-1]=='Women':
        return None
    return y[-1]


def type1_fill(row):
    if row['Type'] is None:
        for type in types:
            print(type)
            if type in row['Title']:   # Make case-insensitive
                return type
    else:
        return  row['Type']

df['Type']=df.apply(type1_fill,axis=1)
df.Type.fillna('Coat',inplace=True)

In [16]:
types=list(set(df['Type']))
if None in types:
    types.remove(None)
#print(types)
def type_fill(row):
    z=row.Title
    y=z.split(' ')
    if 'Kurta' in z:
        return 'Kurta'
    elif 'Blazer' in z:
        return 'Blazer'
    elif 'Top' in z:
        return 'Top'
    elif 'Jacket' in z:
        return 'Jacket'
    elif 'Lehenga' in z:
        return 'Lehenga'
    elif 'Night' in z:
        return 'Night Suit'
    elif 'Men' in y[-1]:
        return 'Shoes'
    elif 'Saree' in z:
        return 'Saree'
    elif 'Women' in y[-1]:
        return 'Boots'
    elif 'Shoes' in z:
        return 'Shoes'
    elif 'Suit' in z:
        return 'Suit'
    return y[-1]


def type1_fill(row):
    if row['Type'] is None:
        for type in types:
            #print(type)
            if type in row['Title']:   # Make case-insensitive
                return type
    else:
        return  row['Type']
df.Type=df.apply(type_fill,axis=1)

In [17]:
df.to_json('data/liuis.json')

In [18]:
df.Type.value_counts()
#df[df.Type=='Dress']

Type
Shirt         187
Trousers      146
T-Shirt        80
Sweatshirt     21
Shorts         11
Jacket          4
Sweater         1
Name: count, dtype: int64

In [19]:
df.isnull().sum()

Title           0
Price           0
Rating          0
Reviews         0
Color           0
Seller          0
Type            0
Fabric          0
Ideal for       0
Pattern         0
Url             0
code            0
nlp             0
1 star          0
2 stars         0
3 stars         0
4 stars         0
5 stars         0
Rating count    0
Review count    0
dtype: int64

In [20]:
df[df['Ideal for'].isnull()]

Empty DataFrame
Columns: [Title, Price, Rating, Reviews, Color, Seller, Type, Fabric, Ideal for, Pattern, Url, code, nlp, 1 star, 2 stars, 3 stars, 4 stars, 5 stars, Rating count, Review count]
Index: []

In [21]:
df[df.Type=='Printed']

Empty DataFrame
Columns: [Title, Price, Rating, Reviews, Color, Seller, Type, Fabric, Ideal for, Pattern, Url, code, nlp, 1 star, 2 stars, 3 stars, 4 stars, 5 stars, Rating count, Review count]
Index: []