In [62]:
import pandas as pd
import random

In [63]:
df1=pd.read_json('libas.json')
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 986 entries, 0 to 985
Data columns (total 75 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Unnamed: 0                           986 non-null    int64
 1   Title                                985 non-null    object
 2   Price                                985 non-null    object
 3   Rating                               904 non-null    float64
 4   Reviews                              908 non-null    object
 5   Url                                  986 non-null    object
 6   Seller                               985 non-null    object
 7   Ideal For                            373 non-null    object
 8   Length Type                          289 non-null    object
 9   Brand Color                          284 non-null    object
 10  Occasion                             436 non-null    object
 11  Pattern                              983 non-null    object
 12  Type                                 863 non-null    object
 13  Fabric                               974 non-null    object
 14  Neck                                 348 non-null    object
 15  Sleeve                               363 non-null    object
 16  Color                                913 non-null    object
 17  Number of Contents in Sales Package  301 non-null    object
 18  Fabric Care                          178 non-null    object
 19  Style Code                           915 non-null    object
 20  Package contains                     57 non-null     object
 21  Net Quantity                         451 non-null    object
 22  Sales Package                        567 non-null    object
 23  Top type                             499 non-null    object
 24  Bottom type                          466 non-null    object
 25  Season                               215 non-null    object
 26  Pockets                              43 non-null     object
 27  Secondary color                      78 non-null     object
 28  Top fabric                           97 non-null     object
 29  Bottom fabric                        98 non-null     object
 30  Fabric care                          108 non-null    object
 31  Lining material                      27 non-null     object
 32  Series                               14 non-null     object
 33  Knit type                            8 non-null      object
 34  Fit                                  105 non-null    object
 35  Pack of                              100 non-null    float64
 36  Suitable For                         105 non-null    object
 37  Belt Loops                           33 non-null     object
 38  Rise                                 36 non-null     object
 39  Unnamed: 39                          28 non-null     object
 40  Closure                              39 non-null     object
 41  Model Name                           13 non-null     object
 42  Number of contents in Sales Package  3 non-null      object
 43  Neck Type                            49 non-null     object
 44  Size                                 61 non-null     object
 45  Reversible                           62 non-null     object
 46  Secondary Color                      14 non-null     object
 47  Other Details                        31 non-null     object
 48  Number of Shorts                     12 non-null     float64
 49  Brand                                12 non-null     object
 50  Style code                           12 non-null     object
 51  Brand color                          12 non-null     object
 52  Ideal for                            12 non-null     object
 53  Primary color                        12 non-null     object
 54  Occassion                            12 non-null     object
 55  Suitable for                         12 non-null     object
 56  Belt included                        12 non-null     object
 57  Character                            12 non-null     object
 58  Group ID                             12 non-null     object
 59  Fabric details                       12 non-null     object
 60  Hooded                               6 non-null      object
 61  Collar                               7 non-null      object
 62  Length                               2 non-null      object
 63  Lehenga Fabric                       11 non-null     object
 64  Choli Fabric                         1 non-null      object
 65  Dupatta Fabric                       1 non-null      object
 66  Embroidered                          1 non-null      object
 67  Lining Type                          1 non-null      object
 68  Dupatta                              11 non-null     object
 69  Stitching Type                       11 non-null     object
 70  Sleeve Length                        1 non-null      object
 71  Age Group                            1 non-null      object
 72  Inseam Length                        2 non-null      object
 73  Pleats                               2 non-null      object
 74  total                                986 non-null    object
dtypes: float64(3), int64(1), object(71)
memory usage: 585.4+ KB

In [64]:
df=df1[['Title','Price','Rating','Reviews','Color','Seller','Type','Fabric','Ideal for','Pattern','total','Url']]
df=df[df.Title.notnull()]
df=df[df.Seller=='LIBAS']

In [65]:
df.isnull().sum()

Title          0
Price          0
Rating        81
Reviews       77
Color         11
Seller         0
Type          82
Fabric        11
Ideal for    845
Pattern        2
total          0
Url            0
dtype: int64

In [66]:
patterns=list(set(df['Pattern']))
patterns.remove(None)
#unique_patterns = set(patterns)  # Create set outside the function for efficiency
def pattern_fill(row):
    if row['Pattern'] is None:
        for pattern in patterns:
            if pattern in row['Title']:
                return type
        # Handle cases where no match is found (return default, raise error, etc.)
    else:
        return row['Pattern']


colours=list(set(df['Color']))
colours.remove(None)

def colour_fill(row):
    if row['Color'] is None:
        for color in colours:
            if color.lower( ) in row['Title'].lower():   # Make case-insensitive
                return color
    else:
        return  row['Color']

persons=['Men','Women','Kid','Girl','Boy']
def idealfor(row):
    for x in persons:
        if x.lower( ) in row['Title'].lower():   # Make case-insensitive
            return x 
        


def rat_cnt(row):
    if row==0:
        return 0
    x=row.replace(',','')
    x=x.split(" ")
    return x[0]


def rev_cnt(row):
    if row==0:
        return 0
    x=row.replace(',','')
    x=x.split(" ")
    return x[0]

In [67]:
df['Pattern'] = df.apply(pattern_fill, axis=1)
df['Color'] = df.apply(colour_fill, axis=1)
df['Ideal for']=df.apply(idealfor,axis=1)
df['Ideal for'].fillna('Women',inplace=True)
df["Pattern"].fillna(random.choice(patterns), inplace=True)
df["Color"].fillna(random.choice(colours), inplace=True)
fabrics=list(set(df['Fabric']))
#fabrics.remove('None')
df["Fabric"].fillna(random.choice(fabrics), inplace=True)
#df.Title=df.Title.str.replace(r'\(....??\)','')

df.Rating=df.Rating.fillna(-1)
df['Price']=df['Price'].apply(lambda x: x[1:]).str.replace(',','').astype(int)

df["code"]=df.total.apply(lambda x : x[1])
df["nlp"]=df.total.apply(lambda x : x[2])
df["Stars"]=df.total.apply(lambda x : x[3])

df["1 star"]=df.Stars.apply(lambda x : str(x[0]).replace(',','')).astype(int)
df["2 stars"]=df.Stars.apply(lambda x : str(x[1]).replace(',','')).astype(int)
df["3 stars"]=df.Stars.apply(lambda x: str(x[2]).replace(',','')).astype(int)
df["4 stars"]=df.Stars.apply(lambda x: str(x[3]).replace(',','')).astype(int)
df["5 stars"]=df.Stars.apply(lambda x: str(x[4]).replace(',','')).astype(int)


df.Reviews.fillna(0, inplace=True)
df['Rating count']=df['Reviews'].apply(rat_cnt)
df['Review count']=df['Reviews'].apply(rev_cnt)
#df[df['Reviews']!=0]['Rating count']=df[df['Reviews']!=0]['Reviews'].apply(lambda x: x.replace(',','').split(' ')[0])
#df[df['Reviews']!=0]['Review count']=df[df['Reviews']!=0]['Reviews'].apply(lambda x: x.replace(',','').split(' ')[3])

df.drop("Stars",axis=1,inplace=True)
df.drop("total",axis=1,inplace=True)

In [74]:
df.isnull().sum()

Title           0
Price           0
Rating          0
Reviews         0
Color           0
Seller          0
Type            0
Fabric          0
Ideal for       0
Pattern         0
Url             0
code            0
nlp             0
1 star          0
2 stars         0
3 stars         0
4 stars         0
5 stars         0
Rating count    0
Review count    0
dtype: int64

types=list(set(df['Type']))
types.remove(None)
#print(types)
def type_fill(row):
    y=row.Title
    y=y.split(' ')
    if y[-1]=='Women':
        return None
    return y[-1]


def type1_fill(row):
    if row['Type'] is None:
        for type in types:
            print(type)
            if type in row['Title']:   # Make case-insensitive
                return type
    else:
        return  row['Type']

df['Type']=df.apply(type1_fill,axis=1)
df.Type.fillna('Coat',inplace=True)

In [69]:
types=list(set(df['Type']))
types.remove(None)
#print(types)
def type_fill(row):
    z=row.Title
    y=z.split(' ')
    if 'Kurta' in z:
        return 'Kurta'
    elif 'Blazer' in z:
        return 'Blazer'
    elif 'Top' in z:
        return 'Top'
    elif 'Jacket' in z:
        return 'Jacket'
    elif 'Lehenga' in z:
        return 'Lehenga'
    elif 'Night' in z:
        return 'Night Suit'
    return y[-1]


def type1_fill(row):
    if row['Type'] is None:
        for type in types:
            #print(type)
            if type in row['Title']:   # Make case-insensitive
                return type
    else:
        return  row['Type']
df.Type=df.apply(type_fill,axis=1)

In [70]:
df.to_json('data/libas.json')

In [72]:
df.Type.value_counts()

Type
Kurta         769
Trousers       39
Top            13
Lehenga        11
Night Suit      6
Dress           2
Set             2
Skirt           2
Salwar          1
Name: count, dtype: int64