In [91]:
import pandas as pd
import random

In [92]:
df1=pd.read_json('reya.json')
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 478 entries, 0 to 477
Data columns (total 91 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Unnamed: 0                           478 non-null    int64
 1   Title                                478 non-null    object
 2   Price                                478 non-null    object
 3   Rating                               251 non-null    float64
 4   Reviews                              265 non-null    object
 5   Url                                  478 non-null    object
 6   Seller                               459 non-null    object
 7   Color                                386 non-null    object
 8   Fabric                               454 non-null    object
 9   Pattern                              454 non-null    object
 10  Style code                           31 non-null     object
 11  Ideal for                            26 non-null     object
 12  Sleeve                               134 non-null    object
 13  Character                            1 non-null      object
 14  Closure                              37 non-null     object
 15  Pack of                              103 non-null    float64
 16  Suitable for                         26 non-null     object
 17  Reversible                           89 non-null     object
 18  Type                                 375 non-null    object
 19  Fabric care                          30 non-null     object
 20  Neck                                 85 non-null     object
 21  Net Quantity                         165 non-null    float64
 22  Sales Package                        362 non-null    object
 23  Ideal For                            327 non-null    object
 24  Occasion                             326 non-null    object
 25  Fabric Care                          401 non-null    object
 26  Style Code                           418 non-null    object
 27  Bottom Length                        237 non-null    object
 28  Dupatta Length                       237 non-null    object
 29  Top Length                           239 non-null    object
 30  Stitching Type                       260 non-null    object
 31  Pattern/Print Type                   61 non-null     object
 32  Other Details                        31 non-null     object
 33  Top Fabric                           11 non-null     object
 34  Dupatta Fabric                       11 non-null     object
 35  Bottom Fabric                        9 non-null      object
 36  Fit                                  69 non-null     object
 37  Neck Type                            61 non-null     object
 38  Size                                 61 non-null     object
 39  Suitable For                         105 non-null    object
 40  Sleeve Type                          21 non-null     object
 41  Secondary Color                      33 non-null     object
 42  Brand Fit                            12 non-null     object
 43  Series                               8 non-null      object
 44  Top Width                            8 non-null      object
 45  Dupatta Width                        7 non-null      object
 46  Suit Length                          7 non-null      object
 47  Bottom Width                         7 non-null      object
 48  Suit Width                           7 non-null      object
 49  Length Type                          4 non-null      object
 50  Brand Color                          4 non-null      object
 51  Number of Contents in Sales Package  6 non-null      object
 52  Package contains                     3 non-null      object
 53  Hooded                               41 non-null     object
 54  Blouse Piece                         8 non-null      object
 55  Sari Style                           8 non-null      object
 56  Sari Length                          8 non-null      object
 57  Blouse Piece Length                  8 non-null      object
 58  Weight                               7 non-null      object
 59  Decorative Material                  5 non-null      object
 60  Embroidery                           2 non-null      object
 61  Top fabric                           4 non-null      object
 62  Bottom fabric                        4 non-null      object
 63  Top type                             6 non-null      object
 64  Bottom type                          6 non-null      object
 65  Lehenga Fabric                       4 non-null      object
 66  Choli Fabric                         4 non-null      object
 67  Embroidered                          3 non-null      object
 68  Dupatta                              4 non-null      object
 69  Unnamed: 69                          6 non-null      object
 70  Belt Loops                           3 non-null      object
 71  Rise                                 3 non-null      object
 72  Pleats                               3 non-null      object
 73  Work                                 1 non-null      object
 74  Secondary color                      3 non-null      object
 75  Lining material                      1 non-null      object
 76  Pockets                              27 non-null     object
 77  Model Name                           31 non-null     object
 78  Collar                               2 non-null      object
 79  Knit Type                            4 non-null      object
 80  Fastener                             2 non-null      object
 81  Other details                        1 non-null      object
 82  Other dimensions                     2 non-null      object
 83  Sales package                        2 non-null      object
 84  Sleeve Style                         5 non-null      object
 85  Number of Card Slots                 1 non-null      float64
 86  Material                             1 non-null      object
 87  Width                                1 non-null      object
 88  Height                               1 non-null      object
 89  Construction Type                    2 non-null      object
 90  total                                478 non-null    object
dtypes: float64(4), int64(1), object(86)
memory usage: 343.6+ KB

In [93]:
df1.Seller.value_counts()

Seller
Reya                 398
FARBOT                32
JOCKEY                 7
TopiBaaz               5
JUSTAPOSE              5
INKKR                  3
Divastri               3
Reya forthequeens      2
KARN KAWACH            1
PUMA                   1
ASTEYAM                1
SY Gifts               1
Name: count, dtype: int64

In [94]:
df=df1[['Title','Price','Rating','Reviews','Color','Seller','Type','Fabric','Ideal for','Pattern','total','Url']]
df=df[df.Title.notnull()]
df=df[df.Seller=='Reya']

In [95]:
df.isnull().sum()

Title          0
Price          0
Rating       185
Reviews      179
Color         58
Seller         0
Type          48
Fabric         4
Ideal for    372
Pattern        0
total          0
Url            0
dtype: int64

In [96]:
patterns=list(set(df['Pattern']))
if None in patterns:
    patterns.remove(None)
#unique_patterns = set(patterns)  # Create set outside the function for efficiency
def pattern_fill(row):
    if row['Pattern'] is None:
        for pattern in patterns:
            if pattern in row['Title']:
                return type
        # Handle cases where no match is found (return default, raise error, etc.)
    else:
        return row['Pattern']


colours=list(set(df['Color']))
if None in colours:
    colours.remove(None)

def colour_fill(row):
    if row['Color'] is None:
        for color in colours:
            if color.lower( ) in row['Title'].lower():   # Make case-insensitive
                return color
    else:
        return  row['Color']

persons=['Men','Women','Kid','Girl','Boy']
def idealfor(row):
    z=row['Title']
    for x in persons:
        if x in z:   # Make case-insensitive
            return x 
        elif 'Suit':
            return 'Men'
        elif 'Lehenga' in z:
            return 'Women'
        


def rat_cnt(row):
    if row==0:
        return 0
    x=row.replace(',','')
    x=x.split(" ")
    return x[0]


def rev_cnt(row):
    if row==0:
        return 0
    x=row.replace(',','')
    x=x.split(" ")
    return x[0]

In [97]:
df['Pattern'] = df.apply(pattern_fill, axis=1)
df['Color'] = df.apply(colour_fill, axis=1)
df['Ideal for']=df.apply(idealfor,axis=1)
#df['Ideal for'].fillna('Women',inplace=True)
df["Pattern"].fillna(random.choice(patterns), inplace=True)
df["Color"].fillna(random.choice(colours), inplace=True)
fabrics=list(set(df['Fabric']))
#if None in fabrics:
#    fabrics.remove('None')
df["Fabric"].fillna(random.choice(fabrics), inplace=True)
#df.Title=df.Title.str.replace(r'\(....??\)','')

df.Rating=df.Rating.fillna(-1)
df['Price']=df['Price'].apply(lambda x: x[1:]).str.replace(',','').astype(int)

df["code"]=df.total.apply(lambda x : x[1])
df["nlp"]=df.total.apply(lambda x : x[2])
df["Stars"]=df.total.apply(lambda x : x[3])

df["1 star"]=df.Stars.apply(lambda x : str(x[0]).replace(',','')).astype(int)
df["2 stars"]=df.Stars.apply(lambda x : str(x[1]).replace(',','')).astype(int)
df["3 stars"]=df.Stars.apply(lambda x: str(x[2]).replace(',','')).astype(int)
df["4 stars"]=df.Stars.apply(lambda x: str(x[3]).replace(',','')).astype(int)
df["5 stars"]=df.Stars.apply(lambda x: str(x[4]).replace(',','')).astype(int)


df.Reviews.fillna(0, inplace=True)
df['Rating count']=df['Reviews'].apply(rat_cnt)
df['Review count']=df['Reviews'].apply(rev_cnt)
#df[df['Reviews']!=0]['Rating count']=df[df['Reviews']!=0]['Reviews'].apply(lambda x: x.replace(',','').split(' ')[0])
#df[df['Reviews']!=0]['Review count']=df[df['Reviews']!=0]['Reviews'].apply(lambda x: x.replace(',','').split(' ')[3])

df.drop("Stars",axis=1,inplace=True)
df.drop("total",axis=1,inplace=True)

In [98]:
df.isnull().sum()

Title            0
Price            0
Rating           0
Reviews          0
Color            0
Seller           0
Type            48
Fabric           0
Ideal for        0
Pattern          0
Url              0
code             0
nlp              0
1 star           0
2 stars          0
3 stars          0
4 stars          0
5 stars          0
Rating count     0
Review count     0
dtype: int64

types=list(set(df['Type']))
types.remove(None)
#print(types)
def type_fill(row):
    y=row.Title
    y=y.split(' ')
    if y[-1]=='Women':
        return None
    return y[-1]


def type1_fill(row):
    if row['Type'] is None:
        for type in types:
            print(type)
            if type in row['Title']:   # Make case-insensitive
                return type
    else:
        return  row['Type']

df['Type']=df.apply(type1_fill,axis=1)
df.Type.fillna('Coat',inplace=True)

In [99]:
types=list(set(df['Type']))
if None in types:
    types.remove(None)
#print(types)
def type_fill(row):
    z=row.Title
    y=z.split(' ')
    if 'Kurta' in z:
        return 'Kurta'
    elif 'Blazer' in z:
        return 'Blazer'
    elif 'Top' in z:
        return 'Top'
    elif 'Jacket' in z:
        return 'Jacket'
    elif 'Lehenga' in z:
        return 'Lehenga'
    elif 'Night' in z:
        return 'Night Suit'
    elif 'Men' in y[-1]:
        return 'Shoes'
    elif 'Saree' in z:
        return 'Saree'
    elif 'Women' in y[-1]:
        return 'Boots'
    elif 'Shoes' in z:
        return 'Shoes'
    elif 'Suit' in z:
        return 'Suit'
    return y[-1]


def type1_fill(row):
    if row['Type'] is None:
        for type in types:
            #print(type)
            if type in row['Title']:   # Make case-insensitive
                return type
    else:
        return  row['Type']
df.Type=df.apply(type_fill,axis=1)

In [100]:
df.to_json('data/reya.json')

In [101]:
df.Type.value_counts()
#df[df.Type=='Dress']

Type
Suit          255
T-Shirt        50
Kurta          35
Jacket         26
Sweatshirt     11
Pants           9
Saree           4
Lehenga         4
Trousers        3
Printed         1
Name: count, dtype: int64

In [102]:
df.isnull().sum()

Title           0
Price           0
Rating          0
Reviews         0
Color           0
Seller          0
Type            0
Fabric          0
Ideal for       0
Pattern         0
Url             0
code            0
nlp             0
1 star          0
2 stars         0
3 stars         0
4 stars         0
5 stars         0
Rating count    0
Review count    0
dtype: int64

In [103]:
df[df['Ideal for'].isnull()]

Empty DataFrame
Columns: [Title, Price, Rating, Reviews, Color, Seller, Type, Fabric, Ideal for, Pattern, Url, code, nlp, 1 star, 2 stars, 3 stars, 4 stars, 5 stars, Rating count, Review count]
Index: []

In [105]:
df[df.Type=='Printed']

,Title,Price,Rating,Reviews,Color,Seller,Type,Fabric,Ideal for,Pattern,Url,code,nlp,1 star,2 stars,3 stars,4 stars,5 stars,Rating count,Review count
384,Unstitched Cotton Blend Salwar and Dupatta Mat...,865,-1.0,0,Pink,Reya,Printed,Cotton Blend,Men,Printed,https://www.flipkart.com/reya-cotton-blend-pri...,Bsp8VgfkjQ,"{'Type': 'Salwar and Dupatta Material', 'Sales...",0,0,0,0,0,0,0