In [70]:
import pandas as pd
import random

In [71]:
df1=pd.read_json('invitus.json')
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 985 entries, 0 to 984
Data columns (total 80 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          985 non-null    int64
 1   Title               982 non-null    object
 2   Price               981 non-null    object
 3   Rating              536 non-null    float64
 4   Reviews             596 non-null    object
 5   Url                 985 non-null    object
 6   Seller              927 non-null    object
 7   Fit                 448 non-null    object
 8   Occasion            393 non-null    object
 9   Color               850 non-null    object
 10  Pack of             594 non-null    float64
 11  Type                356 non-null    object
 12  Suitable For        547 non-null    object
 13  Belt Loops          77 non-null     object
 14  Rise                107 non-null    object
 15  Pattern             625 non-null    object
 16  Fabric              660 non-null    object
 17  Closure             422 non-null    object
 18  Pleats              26 non-null     object
 19  Fabric Care         397 non-null    object
 20  Fly                 41 non-null     object
 21  Net Quantity        845 non-null    object
 22  Neck                207 non-null    object
 23  Sleeve              408 non-null    object
 24  Style Code          500 non-null    object
 25  Ideal For           239 non-null    object
 26  Reversible          223 non-null    object
 27  Other Dimensions    8 non-null      object
 28  Secondary Color     27 non-null     object
 29  Collar              68 non-null     object
 30  Hem                 75 non-null     object
 31  Hooded              18 non-null     object
 32  Style code          33 non-null     float64
 33  Ideal for           275 non-null    object
 34  Suitable for        23 non-null     object
 35  Fabric care         23 non-null     object
 36  Pack Of             12 non-null     float64
 37  Faded               12 non-null     object
 38  Distressed          12 non-null     object
 39  Neck Type           83 non-null     object
 40  Size                90 non-null     object
 41  Inner material      143 non-null    object
 42  Outer material      252 non-null    object
 43  Model name          161 non-null    object
 44  Type For Casual     77 non-null     object
 45  Type For Formal     178 non-null    object
 46  Sole material       212 non-null    object
 47  Weight              172 non-null    object
 48  Upper Pttern        181 non-null    object
 49  Sales package       193 non-null    object
 50  pack of             208 non-null    float64
 51  Technology used     72 non-null     object
 52  Tip shape           189 non-null    object
 53  Care instructions   195 non-null    object
 54  Season              123 non-null    object
 55  Sleeve Style        67 non-null     object
 56  Sleeve Length       43 non-null     object
 57  Length              67 non-null     object
 58  Heel Pattern        53 non-null     object
 59  Pocket Type         1 non-null      object
 60  Secondary color     8 non-null      object
 61  Fabric Details      1 non-null      object
 62  Model Name          1 non-null      object
 63  Belt Width          1 non-null      object
 64  Material            1 non-null      object
 65  Character           1 non-null      object
 66  Brand Fit           7 non-null      object
 67  Sales Package       1 non-null      object
 68  Strap Material      1 non-null      object
 69  Sole Material       3 non-null      object
 70  Unnamed: 70         1 non-null      object
 71  Type for Flats      15 non-null     object
 72  Type for Heels      5 non-null      object
 73  Upper Pattern       4 non-null      object
 74  Type For Ethnic     3 non-null      object
 75  Pck of              1 non-null      float64
 76  Brand               6 non-null      object
 77  Brand Color         6 non-null      object
 78  Number of Leggings  6 non-null      float64
 79  total               985 non-null    object
dtypes: float64(7), int64(1), object(72)
memory usage: 623.3+ KB

In [72]:
df=df1[['Title','Price','Rating','Reviews','Color','Seller','Type','Fabric','Ideal for','Pattern','total','Url']]
df=df[df.Title.notnull()]
df=df[df.Seller=='INVICTUS']

In [73]:
df.isnull().sum()

Title          0
Price          0
Rating       331
Reviews      314
Color         59
Seller         0
Type         536
Fabric       263
Ideal for    473
Pattern      275
total          0
Url            0
dtype: int64

In [74]:
patterns=list(set(df['Pattern']))
if None in patterns:
    patterns.remove(None)
#unique_patterns = set(patterns)  # Create set outside the function for efficiency
def pattern_fill(row):
    if row['Pattern'] is None:
        for pattern in patterns:
            if pattern in row['Title']:
                return type
        # Handle cases where no match is found (return default, raise error, etc.)
    else:
        return row['Pattern']


colours=list(set(df['Color']))
if None in colours:
    colours.remove(None)

def colour_fill(row):
    if row['Color'] is None:
        for color in colours:
            if color.lower( ) in row['Title'].lower():   # Make case-insensitive
                return color
    else:
        return  row['Color']

persons=['Men','Women','Kid','Girl','Boy']
def idealfor(row):
    for x in persons:
        if x.lower( ) in row['Title'].lower():   # Make case-insensitive
            return x 
        


def rat_cnt(row):
    if row==0:
        return 0
    x=row.replace(',','')
    x=x.split(" ")
    return x[0]


def rev_cnt(row):
    if row==0:
        return 0
    x=row.replace(',','')
    x=x.split(" ")
    return x[0]

In [75]:
df['Pattern'] = df.apply(pattern_fill, axis=1)
df['Color'] = df.apply(colour_fill, axis=1)
df['Ideal for']=df.apply(idealfor,axis=1)
#df['Ideal for'].fillna('Women',inplace=True)
df["Pattern"].fillna(random.choice(patterns), inplace=True)
df["Color"].fillna(random.choice(colours), inplace=True)
fabrics=list(set(df['Fabric']))
#if None in fabrics:
    #fabrics.remove('None')
df["Fabric"].fillna(random.choice(fabrics), inplace=True)
#df.Title=df.Title.str.replace(r'\(....??\)','')

df.Rating=df.Rating.fillna(-1)
df['Price']=df['Price'].apply(lambda x: x[1:]).str.replace(',','').astype(int)

df["code"]=df.total.apply(lambda x : x[1])
df["nlp"]=df.total.apply(lambda x : x[2])
df["Stars"]=df.total.apply(lambda x : x[3])

df["1 star"]=df.Stars.apply(lambda x : str(x[0]).replace(',','')).astype(int)
df["2 stars"]=df.Stars.apply(lambda x : str(x[1]).replace(',','')).astype(int)
df["3 stars"]=df.Stars.apply(lambda x: str(x[2]).replace(',','')).astype(int)
df["4 stars"]=df.Stars.apply(lambda x: str(x[3]).replace(',','')).astype(int)
df["5 stars"]=df.Stars.apply(lambda x: str(x[4]).replace(',','')).astype(int)


df.Reviews.fillna(0, inplace=True)
df['Rating count']=df['Reviews'].apply(rat_cnt)
df['Review count']=df['Reviews'].apply(rev_cnt)
#df[df['Reviews']!=0]['Rating count']=df[df['Reviews']!=0]['Reviews'].apply(lambda x: x.replace(',','').split(' ')[0])
#df[df['Reviews']!=0]['Review count']=df[df['Reviews']!=0]['Reviews'].apply(lambda x: x.replace(',','').split(' ')[3])

df.drop("Stars",axis=1,inplace=True)
df.drop("total",axis=1,inplace=True)

In [76]:
df.isnull().sum()

Title             0
Price             0
Rating            0
Reviews           0
Color             0
Seller            0
Type            536
Fabric            0
Ideal for         0
Pattern           0
Url               0
code              0
nlp               0
1 star            0
2 stars           0
3 stars           0
4 stars           0
5 stars           0
Rating count      0
Review count      0
dtype: int64

types=list(set(df['Type']))
types.remove(None)
#print(types)
def type_fill(row):
    y=row.Title
    y=y.split(' ')
    if y[-1]=='Women':
        return None
    return y[-1]


def type1_fill(row):
    if row['Type'] is None:
        for type in types:
            print(type)
            if type in row['Title']:   # Make case-insensitive
                return type
    else:
        return  row['Type']

df['Type']=df.apply(type1_fill,axis=1)
df.Type.fillna('Coat',inplace=True)

In [77]:
types=list(set(df['Type']))
types.remove(None)
#print(types)
def type_fill(row):
    z=row.Title
    y=z.split(' ')
    if 'Kurta' in z:
        return 'Kurta'
    elif 'Blazer' in z:
        return 'Blazer'
    elif 'Top' in z:
        return 'Top'
    elif 'Jacket' in z:
        return 'Jacket'
    elif 'Lehenga' in z:
        return 'Lehenga'
    elif 'Night' in z:
        return 'Night Suit'
    elif 'Men' in y[-1]:
        return 'Shoes'
    elif 'Women' in y[-1]:
        return 'Boots'
    elif 'Shoes' in z:
        return 'Shoes'
    return y[-1]


def type1_fill(row):
    if row['Type'] is None:
        for type in types:
            #print(type)
            if type in row['Title']:   # Make case-insensitive
                return type
    else:
        return  row['Type']
df.Type=df.apply(type_fill,axis=1)

In [78]:
df.to_json('data/invitus.json')

In [79]:
df.Type.value_counts()

Type
Shoes         243
Shirt         134
Sweater       118
Trousers      106
T-Shirt        59
Sweatshirt     18
Jacket         17
Jeans          12
Blazer         10
Sandal         10
Boots           8
Shorts          2
Pants           1
Belt            1
6)              1
Suit            1
Name: count, dtype: int64